<div class="big-card-container">
    <div class="big-card-image">
        <img src="https://i.ytimg.com/vi/EZNl7OXVZnE/maxresdefault.jpg" 
        alt=""
        height="300px">
    </div>
      <div class="big-card-title">
        <a href="#">Saiu a nova versão do Angular!</a>
    </div>
    <div class="big-card-description">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, minima?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, aperiam!
        </p>
    </div>
</div>
