.menu-title-container
{
    color: #fff;
}

.menu-title-container > h1
{
    margin: 15px 0;
    font-size: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.menu-title-container > hr
{
    margin: 20px 0 5px 0;
}