<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="articles-container">
    <div class="articles-main">
        <app-big-card 
        imageCover="https://i.ytimg.com/vi/EZNl7OXVZnE/maxresdefault.jpg"
        cardTitle="TerminalMontage"
        cardDescription="Welcome to TerminalMontage! Home of the #SomethingSeries"
        ></app-big-card>
    </div>

    <div class="articles-others">
        <app-small-card 
        imageCover="https://mystickermania.com/cdn/stickers/youtubers/terminalmontage-kirbo-512x512.png"
        cardTitle="Kirbo"
        ></app-small-card>
        <app-small-card
        imageCover="https://preview.redd.it/i-made-a-terminalmontage-style-bf-v0-6afrfwxwxd691.jpg?width=640&crop=smart&auto=webp&s=2b78ac15c5f548c0b4b4367b4fb800a19121b618"
        cardTitle="Friday Night Funkin'"></app-small-card>
        <app-small-card
        imageCover="https://mystickermania.com/cdn/stickers/youtubers/terminalmontage-mario-512x512.png"
        cardTitle="Mario"></app-small-card>
    </div>
</div>

<hr>